

#content{
  padding: 120px 0;
  background: var(--white);
}

#content .title{
  text-transform: none;
}

#content p{
  text-align: justify;
}

#content figure{
  float: left;
  margin: 0 20px 20px 0;
}

#content img{
  max-width: 100%;
  margin: 0 0 10px;
}