#footer {
  padding: 100px 0 30px;
  background: url('../images/bg.png');
}

#footer .container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  grid-template-areas:
    'footer-info footer-map footer-social';
  grid-gap: 20px;
}

@media(max-width: 776px) {
  #footer .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'footer-info footer-info'
      'footer-map footer-social';
  }
}

@media(max-width: 500px) {
  #footer .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'footer-info'
      'footer-map'
      'footer-social';
  }
}

#footer-info {
  grid-area: footer-info;
}

#footer-info p {
  text-align: justify;
  font-style: italic;
  margin: 20px 0;
  font-size: 14px;
}

#footer-map {
  grid-area: footer-map;
  display: flex;
}

#footer iframe{
  width: 50%!important;
}

#footer-social {
  grid-area: footer-social;
}

#footer-social ul {
  display: block;
  padding: 0 0 0 30px;
}

#footer-social li {
  display: block;
  margin: 5px 0;
  padding: 0 0 0 15px;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

#footer-social li::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--dark);
  display: block;
  top: 4px;
  left: -6px;
}

#footer-social a {
  color: var(--orange);
  text-decoration: underline;
}

#footer-social a:hover {
  text-decoration: none;
}