/* блок зі заголовком (назвою сторінки) */
#heading {
  background-size: cover !important;
  background-attachment: fixed!important;
  height: 260px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#heading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: var(--opacity-black-7);
  z-index: 1;
}

#heading h1 {
  color: var(--white);
  font-weight: normal;
  position: relative;
  z-index: 2;
  padding: 10px;
  margin: 0;
}

.bredcrumbs{
  display: block;
  z-index: 2;
}

.bredcrumbs li{
  display: inline-block;
  color: var(--opacity3);
  font-size: 14px;
}

.bredcrumbs li a{
  color: var(--opacity3);
}

.bredcrumbs li a:hover{
  color: var(--opacity5);
}

.bredcrumbs li::before{
  content: ' < ';
}

.bredcrumbs li:first-child::before{
  content: '';
}