#news {
  padding: 50px 0;
}

#news header {
  margin: 0 0 30px;
}

#news h1 {
  font-size: 28px;
}

#news .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media(max-width: 700px){
  #news .container{
    grid-template-columns: 1fr;
  }
}

#news article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background: var(--yellow);
}

#news figure img{
  vertical-align: middle;
  filter: grayscale(100%);
}

#news article:hover img{
  filter: grayscale(0);
}

#news article a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: var(--black);
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

#news article:hover {
  text-decoration: underline;
}

/* 3 i 4 */
#news article:nth-child(3) figure,
#news article:nth-child(4) figure{
  order: 2;
}

#news article:nth-child(3) a,
#news article:nth-child(4) a{
  order: 1;
}

@media(max-width: 700px){
  #news article:nth-child(1) figure,
  #news article:nth-child(3) figure{
    order: 2;
  }
  
  #news article:nth-child(1) a,
  #news article:nth-child(3) a{
    order: 1;
  }

  #news article:nth-child(2) figure,
  #news article:nth-child(4) figure{
    order: 1;
  }
  
  #news article:nth-child(2) a,
  #news article:nth-child(4) a{
    order: 2;
  }
}

#news footer {
  text-align: center;
  margin: 30px 0;
}

#news footer a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: var(--yellow);
  color: var(--black);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}

#news footer a:focus,
#news footer a:hover {
  background:  var(--black);
  color: var(--yellow);
}