/* головна, блок під "про нас" */

#service {
  padding: 60px 0;
  background: var(--light);
}

#service .container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    'service-header service-header service-header service-header service-header'
    'service-article-1 service-article-2 service-article-3 service-article-4 service-article-5'
    'service-footer service-footer service-footer service-footer service-footer';
}

@media(max-width: 996px) {
  #service .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'service-header service-header service-header'
      'service-article-1 service-article-2 service-article-3'
      'service-article-4 service-article-5 service-article-5'
      'service-footer service-footer service-footer';
  }
}

@media(max-width: 620px) {
  #service .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'service-header service-header'
      'service-article-1 service-article-2'
      'service-article-3 service-article-4'
      'service-article-5 service-article-5'
      'service-footer service-footer';
  }
}

@media(max-width: 400px) {
  #service .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'service-header'
      'service-article-1'
      'service-article-2'
      'service-article-3'
      'service-article-4'
      'service-article-5'
      'service-footer';
  }
}

#service header {
  grid-area: service-header;
  margin: 0 0 30px;
}

#service h1 {
  font-size: 28px;
}

#service article {
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

#service article a {
  display: block;
  height: 160px;
  width: 160px;
  text-decoration: none;
  color: var(--dark);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid var(--black); */
  border: 1px solid var(--yellow);
  margin: auto;
  -webkit-transition: background .5s;
  transition: background .5s;
}

#service article a:hover{
  background: var(--dark);
  color: var(--light);
  border: 1px solid var(--black);
}

#service article img{
  height: 42px;
}

#service article a:hover img{
  filter: invert(100%);
}

#service h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 10px 20px;
  color: var(--dark);
}

#service article a:hover h3 {
  color: var(--light);
}

#service article:nth-of-type(1) a {
  grid-area: service-article-1;
}

#service article:nth-of-type(2) a {
  grid-area: service-article-2;
}

#service article:nth-of-type(3) a {
  grid-area: service-article-3;
}

#service article:nth-of-type(4) a {
  grid-area: service-article-4;
}

#service article:nth-of-type(5) a {
  grid-area: service-article-5;
}

#service article:nth-of-type(6) a {
  grid-area: service-article-6;
}

#service footer {
  grid-area: service-footer;
  margin: 30px 0;
  text-align: center;
}

#service footer a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: var(--yellow);
  color: var(--black);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  -webkit-transition: color .5s, background .5s;
  transition: color .5s, background .5s;
}

#service footer a:focus,
#service footer a:hover {
  background:  var(--black);
  color: var(--yellow);
}