/* скіли на головній (під слайдером) */

#skills {
    background: var(--white);
    padding: 50px 0;
}

#skills .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#skills article {
    padding: 20px;
    height: 180px;
    width: 200px;
    background: var(--yellow);
    text-align: center;
    margin: 10px;
}

#skills article h4 {
    color: var(--light);
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    white-space: nowrap;
}

#skills article p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: var(--dark);
}