
/* скіли на головній (під сдлайдером) */
#skills{
  background: var(--white);
  padding: 50px 0;
}

#skills .container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#skills article{
  padding: 20px;
  border-radius: 160px;
  height: 160px;
  width: 160px;
  background: var(--yellow);
  text-align: center;
}

#skills article h4{
  color: var(--light);
  margin: 0;
  font-size: 48px;
}

#skills article p{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: var(--dark);
}